#tall{
    position: fixed;
    width: 100%;
    z-index: 2;
    margin-top: -50px;
}
.folio{
  width: 100%;
}
.teal{
  color:color:#e53935;;
}
.live{
  position: relative;
  right: 0px;

  z-index: 4;
}
.panel-heading a{
  color:#e0f7fa;;
}
#centerme{
  color: #ffcd22;
  vertical-align: center;
  z-index: 3;
}
#margin-top{
  margin-top: 50px;
}
#maillogo{
  width: 50%;
}
#jimmy, #jimtoggle{
  border-radius: 50%;
  border: solid 2px teal;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  display: none;
}
#jimtoggle{
  display: inline-block;
}
.nobreak{
  display: inline;
    margin-right: 15px;
}
#me{
  width: 35px;
  display: inline;


}
i, .red{
  color:#e53935;
}

footer{
  margin-left: 2.5%;
}
.underline{text-decoration: none;}
.underline:hover, .underline:focus{color:#e53935; text-decoration: none;}


@media (min-width:992px){
  #jimmy{
    width:100%;
    display: inline;
  }
  #jimtoggle{
    display: none;
  }
  #me{
    width: 20%;
  }
  #tall{
    position: fixed;
    margin-top: -50px;
    left: -5px;
    width:33%;
    height:100%;
  }
  #break{
    position: relative;
    top: 5%;
    left:35%;
    width:150px;
  }
  footer{
    position: fixed;
    left: 0px;
    bottom: 0px;
    z-index: 2;
  }
  footer a{
    color: #e0f7fa;
  }
  footer a:hover, footer a:focus{
    color:#e53935;
    text-decoration: none;
  }

}



